@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oregano&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --cor-0: #514768;
    --cor-1: #2a4043;
    --cor-2: #fff;
    --cor-3: #95a0a1;
    --cor-4: #2f2942;
    --cor-5: #00ff87;
    --cor-6: #333;
    --cor-7: #201b2c;


    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


@font-face {
    font-family: minhaFonte;
    src: url(font/barcadbold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-7);

}

h1 {
    position: relative;
    bottom: 10px;
    background-color: #95a0a1;
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-weight: lighter;
    font-size: 20px;
    color: var(--cor-2);
    text-shadow: 0.5px 0.5px 1.5px black;
    letter-spacing: 1px;
    margin: 15px;
    border-radius: 3px;
}

#borda {
    border: 1.5px solid #95a0a1;
    padding: 13px 20px 30px 13px;
    border-radius: 3px;
}

.registro1 #user-form {
    position: relative; /* Altere para absolute para centralizar em relação ao body */
    top: 250px; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste preciso */
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens filhos */
}

form {
    background-color: var(--cor-4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.397);
    width: 100%;
    align-items: center; /* Garante que os elementos dentro do form fiquem centralizados */
}

label {
    font-family: "Bebas Neue", serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--cor-2);
    text-shadow: 1px 1px 2px black;
}

form input, form select {
    background-color: var(--cor-0);
    border-radius: 8px;
    border: none;
    color: #fff;
    padding: 7px;
    margin-bottom: 12px;
    width: 100%; /* Faz com que os inputs e selects se ajustem à largura do form */
}

select {
    background-color: #514768;
    color: #fff;
    border: 1px solid #fff;
}

select option {
    background-color: #514768;
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    color: #fff;
}

.btn-1 {
    padding: 7px;
    margin-top: 25px;
    background-color: #00ff87;
    font-family: "Bebas Neue", serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--cor-0);
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #fff;
    width: 100%; /* Faz com que o botão ocupe a largura total disponível */
}

.btn-1:hover {
    background-color: #fff;
    transition: 0.5s;
    border: 1px solid #00ff87;
}

#user-data {
    position: relative;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #201b2c;
}

.user-entry {
    margin-top: 50px;
    display: grid;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #95a0a1;
}

.end-shift {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 12px;
    padding: 8px 10px;
    font-size: 12px;
    color: #2f2942;
    background-color: #00ff87;
    border: none;
    cursor: pointer;
    border: 1px solid #fff;
}



